.sales-table {
  width: 100%;
  /* border-collapse: collapse; */
  /* margin: 20px 0; */
}

.sales-table th, .sales-table td {
  border: none;
  padding: 8px;
  text-align: center;
}

.sales-table th {
  /* background-color: #f2f2f2; */
  font-weight: bold;
}

.table-container {
  height: 100%;
  overflow: auto;
  box-shadow: unset!important;
}
